body{
font-family:Arial;
background:#f4f6f8;
margin:40px;
}

h1{
text-align:center;
}

.menu{
display:grid;
grid-template-columns:repeat(3,200px);
gap:20px;
justify-content:center;
margin-top:50px;
}

.card{
background:white;
padding:40px;
border-radius:10px;
box-shadow:0 2px 6px rgba(0,0,0,0.1);
cursor:pointer;
text-align:center;
font-size:18px;
}

.card:hover{
background:#eaf3ff;
}

table{
width:100%;
border-collapse:collapse;
margin-top:20px;
background:white;
}

td,th{
border:1px solid #ddd;
padding:10px;
}

button{
padding:8px 15px;
background:#2d7ff9;
color:white;
border:none;
cursor:pointer;
border-radius:5px;
}

input,textarea{
width:100%;
padding:6px;
margin:5px 0;
}

img{
width:80px;
}